<html>

<head>
    <title>Ordering notice</title>
</head>

<body>
    {% load staticfiles %}

    <img src="{% static "images/sunrise.jpg" %}" alt="Sunrise">
    <p>Dear <i>{{ nickname }}</i>,</p>
    <p>{{ status_code }}</p>
    <p>Thanks for placing an order from {{ company }}. It's scheduled to ship on {{ created |date:"F j, Y" }}.</p>
    <p>Here are the items you've ordered:</p>
    <ul>
        {% for item in users %}
        <li>{{ item.nickname }}</li>
        {% endfor %}
    </ul>
    {% if ordered_warranty %}
    <p>Your warranty information will be included in the packaging.</p>
    {% endif %}
    <p>Sincerely,
        <br />{{ company }}</p>
</body>

</html>